table {
	border: 1px solid lightgray;
	border-radius: 16px; 
	padding: 1em;
	margin: 1em;
	background: #FEFEFE;
	width: 90%;
	min-width: 300px;
	max-width: 600px;
	/*box-shadow: 0 0 4px rgba(0,0,0,0.2); /* Параметры тени */
}

table:hover {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);/*box-shadow: 0 0 4px rgba(0,0,0,0.2); /* Параметры тени */*/
}

thead td {
	font-size: 18px;
	font-family: 'Manjari', sans-serif;
	border-bottom: 1px solid lightgray;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
tbody tr:hover {
	background: rgba(0,146,244,0.1);
	color: black;
}

tbody td {
	font-size: 14px;
	font-family: 'Manjari', sans-serif;
	border-bottom: 1px dashed lightgray;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

tbody td[marked="true"] {
	background: rgba(255,0,0,0.2);
	
}