@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 40px 0;
  background: url("../img/wallpaper2.jpg");
}

.container {
  margin: 0 auto;
  overflow-wrap: break-word;
  min-width: 200px;
  max-width: 500px;
  /*width: 300px;*/
  /*height: 500px;*/
  background: white;
  border: 1px solid #FFFFEE;
  border-radius: 12px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 0 6px rgba(0,0,0,0.5); /* Параметры тени */
}


hr {
  border: 0;
  height: 1px;
  background: #e9e6e2;
  margin: 15px 100px;
}

a {
  text-decoration: none;
  color: #b993d6;
}
a:hover {
  text-decoration: underline;
  color: #c5a5dd;
}

.header {
  text-align: center;
  display: block;
  margin-top: 2em;
  font-size: 16px;
}

.footer {
  text-align: center;
  /*display: block;*/
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 16px;
}

input {
  outline: none;
  display: block;
  width: 70%;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  background: #f7f6f5;
  margin: 20px auto;
  padding: 18px 15px;
}

input[type="submit"] {
  /*width: 35%;*/
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  padding: 13px 20px;
  margin-top: 4em;
}

.buttonDisable {
  color: gray;
}

.buttonEnable {
  color: white;
  background: #0092F4;
  border: 1px solid #0092F4;
  box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
}
.buttonEnable:hover {
 box-shadow: 0 0 12px rgba(0,0,0,0.5); /* Параметры тени */ 
}


::-webkit-input-placeholder {
  font-size: 13px;
}

::-moz-placeholder {
  font-size: 13px;
}

.logo_animated{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 1em;
  background: #0092F4;
  margin-bottom: 1em;
}
